.logo {
  width: 4rem;
  height: 4rem;
}

.bg-night-mode {
  //background-color: dimgrey;
  background-color: #b1b1b1;
}

.usual-pages.background {
  background-color: #2b429e;
}

.login-window {
  background-color: #546fdc;
  border-radius: 10px;
}

.navbar-grey {
  background-color: grey !important;
}
